<link href="assets/css/animate-custom.css" rel="stylesheet" type="text/css" media="all" />
<link href="assets/css/stylelogin.css" rel="stylesheet" type="text/css" media="all" />

<div  class="carouselogin " data-zs-src='["assets/images/contact.jpg"]'></div>

<section class="about-us" id="about">
	<h3 class="text-center slideanim">Se connecter</h3>
	<a class="hiddenanchor" id="toregister"></a>
	<a class="hiddenanchor" id="tologin"></a>

	<div id="wrapper">
		<div id="login" class="animate form">          
			<form  autocomplete="on"> 
				<h2>Log in</h2> 
				<p> 
					<label for="username" class="uname" data-icon="u" ><span>Your email or name</span></label>
					<input id="username" required="required" type="text" 
						placeholder="EMAIL OR USERNAME" ng-model="vm.user.username"/>
				</p>
				<p> 
					<label for="password" class="youpasswd" data-icon="p"><span>Your password</span></label>
					<input id="password" required="required" type="password" 
						placeholder="eg. X8df!90EO" ng-model="vm.user.password"/> 
				</p>
				<p class="keeplogin"> 
					<input type="checkbox" id="brand" value="" ng-model="vm.user.remember_me">
					<label for="brand"><span></span> Remember me?</label>
				</p>
				<p class="login button"> 
					<input type="submit" value="Login" ng-click="vm.login()" ng-disabled="vm.disableSubmit"/> 
				</p>
				<p class="change_link">
					<span>Not a member yet ?</span>
					<a href="#toregister" class="to_register">Register</a>
				</p>
			</form>
		</div>
		<div id="register" class="animate form">
			<form autocomplete="on"> 
				<h2> Sign up </h2> 
				<p> 
					<label for="usernamesignup" class="uname" data-icon="u"><span>Your name</span></label>
					<input id="usernamesignup" required="required"
								type="text" placeholder="USERNAME" ng-model="vm.user.username"/>
				</p>
				<p> 
					<label for="emailsignup" class="youmail" data-icon="e" ><span>Your email</span></label>
					<input id="emailsignup" required="required" 
							type="email" placeholder="EXAMPLE@MAIL.COM" ng-model="vm.user.email"/> 
				</p>
				<p> 
					<label for="passwordsignup" class="youpasswd" data-icon="p"><span>Your password</span></label>
					<input id="passwordsignup" required="required" 
							type="password" placeholder="eg. X8df!90EO" ng-model="vm.user.password"/>
				</p>
				<p> 
					<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">
						<span>Please confirm your password</span>
					</label>
					<input id="passwordsignup_confirm" name="passwordsignup_confirm"
								required="required" type="password" placeholder="eg. X8df!90EO"/>
				</p>
				<p class="signin button"> 
					<input type="submit" value="Sign up" ng-click='vm.register()' ng-disabled="vm.disableSubmit"/> 
				</p>
				<p class="change_link">  
					<span>Already a member ?</span>
					<a href="#tologin" class="to_register">Log In</a>
				</p>
			</form>
		</div>
	</div>
</section>


<script src="assets/js/darkbox.js"></script>
<script type="text/javascript" src="assets/js/jquery.zoomslider.min.js"></script>