<link href="app/contact/contact.css" rel="stylesheet" type="text/css" media="all" />

<!-- Contact Section -->
<section class="our-contacts" id="contact">
	<h3 class="text-center">Contacter Nous</h3>
	<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form name="contactForm" novalidate role="form" class="main-contact">
					<div class="row">
						<div class="form-group col-lg-4">
							<input type="text" class="form-control user-name capitalize" name="user_name"
									placeholder="Votre Nom" ng-model="vm.mail.user_name" required/>
							<div class="ng-alert" ng-messages="contactForm.user_name.$error" ng-if="contactForm.user_name.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
							</div>
						</div>
						<div class="form-group col-lg-4">
							<input type="email" class="form-control mail" ng-model="vm.mail.email"
									name="email" placeholder="Votre Email" required ng-pattern="/^.+@.+\..+$/"/>
							<div class="ng-alert" ng-messages="contactForm.email.$error" ng-if="contactForm.email.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
								<p class="alert" role="alert" ng-message="pattern">Cela doit être un email valide!</p>
							</div>
						</div>
						<div class="form-group col-lg-4">
							<input type="tel" class="form-control pno" ng-model="vm.mail.phone_number"
									name="phone_number" placeholder="Votre Numéro de Téléphone" required/>
							<div class="ng-alert" ng-messages="contactForm.phone_number.$error" ng-if="contactForm.phone_number.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-lg-12">
							<textarea class="form-control" rows="6" ng-model="vm.mail.body"
										name="body" placeholder="Votre Message" required/></textarea>
							<div class="ng-alert" ng-messages="contactForm.body.$error" ng-if="contactForm.body.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
							</div>
						</div>
						<div class="form-group col-lg-12">
							<button type="submit" ng-click="vm.send()"  class="btn-outline1">Envoyer</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- /Contact Section -->
