<link href="app/main/main.css" rel="stylesheet" type="text/css" media="all" />
<!-- required-js-files-->
<link href="assets/css/owl.carousel.css" rel="stylesheet">
<script src="assets/js/owl.carousel.js"></script>

<!-- top carousel and search bar-->
<div id="demo-1" class="carousel slide"
		data-zs-src='["../assets/images/2.jpg","../assets/images/1.jpg","../assets/images/3.jpg","../assets/images/4.jpg"]'
		 data-zs-overlay="dots">

	<div class="demo-inner-content">
		<div class="banner-info" >
			 <form>
				<div class="container1">
				<div class="b_user">
						<div class="searching_user"><br />
						<div style="color:#fff" class="home-msg">Trouvez facilement le meilleur artisan près de chez vous à votre disposition à tout moment!</div>
			
							<div class="searching">
								<ul>
									<li class="span1_of_1">
										<form>
											<input 	places-auto-complete size=80
													component-restrictions="{country:'dz'}"
													types="['geocode']" class="search-bar"
													on-place-changed="vm.placeChanged()"
													id="advanced-placepicker" ng-model="vm.searchInput"
												   	type="text"  placeholder="Rechercher une Ville-Wilaya">
										</form>
									</li>
									<li class="span1_of_1">
										<div class="section_room">
											<multiselect class="search-job"
												ng-model="vm.selectedJobs"
												options="job.name for job in vm.jobs"
												data-multiple="true"
												data-compare-by="id"
												scroll-after-rows="5"
												filter-after-rows="5"
												max-width="100"
                        						ms-header="Tous les métiers"
                        						ms-selected="{{ vm.selectedJobs.length}} sélectionné"
												tabindex="-1">
											</multiselect>
										</div>
									</li>
									<li class="span1_of_3">
										<div class="search_btn">
											<input type="submit" ng-click="vm.search()" value="Trouver l'artisan">
										</div>
									</li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /top carousel and search bar-->

<!-- About Section -->
<section class="about-us" id="about">
	<h3 class="text-center slideanim">À propos de Dz-Artisans</h3>
	<p class="text-center slideanim"> Dz-Artisans est un plateforme pour trouver et prendre rendezvous avec
									  l'artisan selon le choix et lieu de résidence et les besoins de client</p>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<img src="assets/images/about-img.jpg" alt="about" class="img-responsive slideanim description-logo">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="about-info">
					<h4 class="slideanim">Description</h4>
					<p class="abt slideanim">
						Ensemble pour l'Algérie technologique et sophistiqué, notre projet
						consiste en la création d’un startup intervenant dans le secteur des
						services aux particuliers, plus précisément : aide à la personne, et
						qui est un portail en ligne a pour mission principale mettre en contact
						les différents artisans avec leurs clients en Algérie, .
					</p>
					<p class="abt slideanim">
						pour trouver un artisan et fixer un rendez-vous est plus aussi difficile que cela était,
						à seulement quelques clics à travers le site Web & application mobile et l'artisan sera diponibl.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /About Section -->

<!-- Services Section -->
<section class="our-services slideanim" id="service">
	<h3 class="text-center slideanim">Nos Services</h3>
	<div class="medicinal-w3">
		<div class="container">

			<div class="medicinal-w3-grids one">
				<div class="col-md-6 medicinal-w3-grid">
					<div class="col-md-8 medicinal-w3-left">
						<h4>Vous êtes un artian?</h4>
						<p>
							Créez votre profil facilement et présentez vos réalisations à vos clients afin de vous
							faire connaitre.
						</p>
					</div>
					<div class="col-md-4 medicinal-w3-right">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="" class="hi-icon icon1" ui-sref='auth'></a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 medicinal-w3-grid">
					<div class="col-md-4 medicinal-w3-right">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="" class="hi-icon icon2" ui-sref='auth'></a>
						</div>
					</div>
					<div class="col-md-8 medicinal-w3-left1">
						<h4>Vous êtes une entreprise d'artisanat?</h4>
						<p>
							Créer votre site web et présentez vos services afin de toucher le maximum des clients
							sur toute l'Algérie.
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="medicinal-w3-grids">
				<div class="col-md-6 medicinal-w3-grid">
					<div class="col-md-8 medicinal-w3-left">
						<h4>Rechercher un Artisan</h4>
						<p>
							Chercher un artisan n'a jamais été plus facile que maintenant, avec un seul clique vous retrouviez tous les artisans à votre proximitée.
						</p>
					</div>
					<div class="col-md-4 medicinal-w3-right">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="" class="hi-icon icon3" ui-sref="search"></a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 medicinal-w3-grid">
					<div class="col-md-4 medicinal-w3-right">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="" class="hi-icon icon4" ui-sref="contact"></a>
						</div>
					</div>
					<div class="col-md-8 medicinal-w3-left1">
						<h4>Contacter Nous</h4>
						<p>
							Si vous avez une question, sugestion ou autre chose vous pouvez nous contacter quand vous voullez.
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</section>
<!-- /Services Section -->

<!-- Testimonials -->
<section class="our-testimonials slideanim" id="testimonials">
	<h3 class="text-center slideanim">Nos utilisateurs témoignent !</h3>
	<div id="review" class="testimonials-review">
		<div class="container">
				<div class="testimonials">
				  <div class="monials">
				      <!--//screen-gallery-->
						<div class="screen-gallery-cursual"> 
								 <!--/required-js-files-->
						       	<div id="owl-demo" class="owl-carousel">
									<div class="item-owl">
										<p class="speech">
											Le coup classique, je rentre de soirée et me rends compte que j'ai perdu mes clefs. Grâce à votre App je n'ai pas eu à appeler 20 serruriers pour en trouver un disponible et honnête. Bon j'ai attendu 30 minutes qu'il arrive mais il a été sérieux et efficace pour venir m'ouvrir et tout ça au prix convenu à l'avance.
										</p>
										<div class="client-info">
											<img src="assets/images/avatar.png" alt=" " />
											<h4>Albdelhadi FEKHAR</h4>
											<span>Client</span>
										</div>
									</div>
					                <div class="item-owl">
										<p class="speech">
											L'artisanat, c'est avant tout un métier de service. Ce qui me plais le plus c'est le contact avec les clients: répondre à leur demandes, comprendre et bien cerner ce qu'ils désirent.
										</p>
										<div class="client-info">
											<img src="assets/images/t2.jpg" alt=" " />
											<h4>FEKIH Anis</h4>
											<span>Serrurier</span>
										</div>
									</div>
					                <div class="item-owl">
										<p class="speech">
											C'est pratique de pouvoir sélectionner rapidement un pro à côté de chez soi. Mourad qui s'est déplacé pour ma fuite d'eau a fait un excellent travail et s'est tenu à son devis au centime près.
										</p>
										<div class="client-info">
											<img src="assets/images/men1.jpg" alt=" " />
											<h4>Abdellaoui Ahmed</h4>
											<span>Client</span>
										</div>
									</div>
									<div class="item-owl">
										<p class="speech">
											Moi les travaux c'est vraiment pas mon truc, mais avec l'App je n'ai pas eu de mal à m'en sortir. Une demande de devis et hop 3 jours après j'avais déjà reçu 2 devis d'artisans sérieux.
										</p>
										<div class="client-info">
											<img src="assets/images/avatar.png" alt=" " />
											<h4>Djbablia Mustapha</h4>
											<span>Client</span>
										</div>
									</div>
				              </div>
						</div>
					</div>
				<div class="clearfix"></div>
			</div>
		</div>
</section>
<!-- /Testimonials -->


<!-- Contact Section -->
<section class="our-contacts" id="contact">
	<h3 class="text-center">Contacter Nous</h3>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form name="contactForm" novalidate role="form" class="main-contact">
					<div class="row">
						<div class="form-group col-lg-4">
							<input type="text" class="form-control user-name capitalize" name="user_name"
									placeholder="Votre Nom" ng-model="vm.mail.user_name" required/>
					 		<div class="ng-alert" ng-messages="contactForm.user_name.$error" ng-if="contactForm.user_name.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
							</div>
						</div>
						<div class="form-group col-lg-4">
							<input type="email" class="form-control mail" ng-model="vm.mail.email"
									name="email" placeholder="Votre Email" required ng-pattern="/^.+@.+\..+$/"/>
							<div class="ng-alert" ng-messages="contactForm.email.$error" ng-if="contactForm.email.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
								<p class="alert" role="alert" ng-message="pattern">Cela doit être un email valide!</p>
							</div>
						</div>
						<div class="form-group col-lg-4">
							<input type="tel" class="form-control pno" ng-model="vm.mail.phone_number"
									name="phone_number" placeholder="Votre Numéro de Téléphone" required/>
							<div class="ng-alert" ng-messages="contactForm.phone_number.$error" ng-if="contactForm.phone_number.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-lg-12">
							<textarea class="form-control" rows="6" ng-model="vm.mail.body"
										name="body" placeholder="Votre Message" required/></textarea>
							<div class="ng-alert" ng-messages="contactForm.body.$error" ng-if="contactForm.body.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
							</div>
						</div>
						<div class="form-group col-lg-12">
							<button type="submit" ng-click="vm.send()"  class="btn-outline1">Envoyer</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- /Contact Section -->

<script type="text/javascript" src="assets/js/jquery.zoomslider.min.js"></script>
