<link href="app/main/main.css" rel="stylesheet" type="text/css" media="all" />
<!-- required-js-files-->
<link href="assets/css/owl.carousel.css" rel="stylesheet">
<script src="assets/js/owl.carousel.js"></script>

<!-- top carousel and search bar-->
<div id="demo-1" class="carousel slide"
		data-zs-src='["../assets/images/2.jpg","../assets/images/1.jpg","../assets/images/3.jpg","../assets/images/4.jpg"]'
		 data-zs-overlay="dots">

	<div class="demo-inner-content">
		<div class="banner-info" >
			 <form>
				<div class="container1">
				<div class="b_user">
						<div class="searching_user"><br />
							<div class="searching">
								<ul>
									<li class="span1_of_1">
										<form>
											<input 	places-auto-complete size=80
													component-restrictions="{country:'dz'}"
													types="['geocode']" class="search-bar"
													on-place-changed="vm.placeChanged()"
													id="advanced-placepicker" ng-model="vm.searchInput"
												   	type="text"  placeholder="Rechercher une Ville-Wilaya">
										</form>
									</li>
									<li class="span1_of_1">
										<div class="section_room">
											<multiselect class="search-job"
												ng-model="vm.selectedJobs"
												options="job.name for job in vm.jobs"
												data-multiple="true"
												data-compare-by="id"
												scroll-after-rows="5"
												filter-after-rows="5"
												max-width="100"
                        						ms-header="Tous les métiers"
                        						ms-selected="{{ vm.selectedJobs.length}} sélectionné"
												tabindex="-1">
											</multiselect>
										</div>
									</li>
									<li class="span1_of_3">
										<div class="search_btn">
											<input type="submit" ng-click="vm.search()" value="Trouver l'artisan">
										</div>
									</li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /top carousel and search bar-->

<!-- About Section -->
<section class="about-us" id="about">
	<h3 class="text-center slideanim">À propos de Dz-Artisans</h3>
	<p class="text-center slideanim"> Dz-Artisans est un plateforme pour trouver et prendre rendezvous avec
									  l'artisan selon le choix et lieu de résidence et les besoins de client</p>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<img src="assets/images/about-img.jpg" alt="about" class="img-responsive slideanim description-logo">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="about-info">
					<h4 class="slideanim">Description</h4>
					<p class="abt slideanim">
						Ensemble pour l'Algérie technologique et sophistiqué, notre projet
						consiste en la création d’un startup intervenant dans le secteur des
						services aux particuliers, plus précisément : aide à la personne, et
						qui est un portail en ligne a pour mission principale mettre en contact
						les différents artisans avec leurs clients en Algérie, .
					</p>
					<p class="abt slideanim">
						pour trouver un artisan et fixer un rendez-vous est plus aussi difficile que cela était,
						à seulement quelques clics à travers le site Web & application mobile et l'artisan sera diponibl.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /About Section -->

<!-- Services Section -->
<section class="our-services slideanim" id="service">
	<h3 class="text-center slideanim">Nos Services</h3>
	<p class="text-center slideanim">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	<div class="medicinal-w3">
		<div class="container">

			<div class="medicinal-w3-grids one">
				<div class="col-md-6 medicinal-w3-grid">
					<div class="col-md-8 medicinal-w3-left">
						<h4>Vous êtes un artian?</h4>
						<p>
							Créez votre profil facilement et présentez vos réalisations à vos clients afin de vous
							faire connaitre.
						</p>
					</div>
					<div class="col-md-4 medicinal-w3-right">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon1"></a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 medicinal-w3-grid">
					<div class="col-md-4 medicinal-w3-right">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon2"></a>
						</div>
					</div>
					<div class="col-md-8 medicinal-w3-left1">
						<h4>Vous êtes une entreprise d'artisanat?</h4>
						<p>
							Créer votre site web et présentez vos services afin de toucher le maximum des clients
							sur toute l'Algérie.
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="medicinal-w3-grids">
				<div class="col-md-6 medicinal-w3-grid">
					<div class="col-md-8 medicinal-w3-left">
						<h4>LOREM IPSUM DOLOR</h4>
						<p>
							sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
							 totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
						</p>
					</div>
					<div class="col-md-4 medicinal-w3-right">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon3"></a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 medicinal-w3-grid">
					<div class="col-md-4 medicinal-w3-right">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon4"></a>
						</div>
					</div>
					<div class="col-md-8 medicinal-w3-left1">
						<h4>LOREM IPSUM DOLOR</h4>
						<p>
							sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
							 totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</section>
<!-- /Services Section -->

<!-- Testimonials -->
<section class="our-testimonials slideanim" id="testimonials">
	<h3 class="text-center slideanim">What Our Clients Say</h3>
	<p class="text-center slideanim">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	<div id="review" class="testimonials-review">
		<div class="container">
				<div class="testimonials">
				  <div class="monials">
				      <!--//screen-gallery-->
						<div class="screen-gallery-cursual"> 
								 <!--/required-js-files-->
						       	<div id="owl-demo" class="owl-carousel">
									<div class="item-owl">
										<p class="speech">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id
												arcu neque, at convallis est felis.Lorem ipsum dolor sit amet, consectetur
												adipiscing elit. Pellentesque id arcu neque, at convallis est felis.
										</p>
										<div class="client-info">
											<img src="assets/images/t1.jpg" alt=" " />
											<h4>John Allen</h4>
											<span>Lorem ipsum dolor</span>
										</div>
									</div>
					                <div class="item-owl">
										<p class="speech">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu
											 neque, at convallis est felis.Lorem ipsum dolor sit amet,
											 consectetur adipiscing elit. Pellentesque id arcu neque,
											 at convallis est felis.
										</p>
										<div class="client-info">
											<img src="assets/images/t2.jpg" alt=" " />
											<h4>John Doe</h4>
											<span>Lorem ipsum dolor</span>
										</div>
									</div>
									<div class="item-owl">
										<p class="speech">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id
											arcu neque, at convallis est felis.Lorem ipsum dolor sit amet, consectetur
											 adipiscing elit. Pellentesque id arcu neque, at convallis est felis.
										</p>
										<div class="client-info">
											<img src="assets/images/t3.jpg" alt=" " />
											<h4>John Leo</h4>
											<span>Lorem ipsum dolor</span>
										</div>
									</div>
				              </div>
						</div>
					</div>
				<div class="clearfix"></div>
			</div>
		</div>
</section>
<!-- /Testimonials -->


<!-- Contact Section -->
<section class="our-contacts" id="contact">
	<h3 class="text-center">Contacter Nous</h3>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form name="contactForm" novalidate role="form" class="main-contact">
					<div class="row">
						<div class="form-group col-lg-4">
							<input type="text" class="form-control user-name capitalize" name="user_name"
									placeholder="Votre Nom" ng-model="vm.mail.user_name" required/>
					 		<div class="ng-alert" ng-messages="contactForm.user_name.$error" ng-if="contactForm.user_name.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
							</div>
						</div>
						<div class="form-group col-lg-4">
							<input type="email" class="form-control mail" ng-model="vm.mail.email"
									name="email" placeholder="Votre Email" required ng-pattern="/^.+@.+\..+$/"/>
							<div class="ng-alert" ng-messages="contactForm.email.$error" ng-if="contactForm.email.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
								<p class="alert" role="alert" ng-message="pattern">Cela doit être un email valide!</p>
							</div>
						</div>
						<div class="form-group col-lg-4">
							<input type="tel" class="form-control pno" ng-model="vm.mail.phone_number"
									name="phone_number" placeholder="Votre Numéro de Téléphone" required/>
							<div class="ng-alert" ng-messages="contactForm.phone_number.$error" ng-if="contactForm.phone_number.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-lg-12">
							<textarea class="form-control" rows="6" ng-model="vm.mail.body"
										name="body" placeholder="Votre Message" required/></textarea>
							<div class="ng-alert" ng-messages="contactForm.body.$error" ng-if="contactForm.body.$touched">
								<p class="alert" role="alert" ng-message="required">* Ce champ est requis</p>
							</div>
						</div>
						<div class="form-group col-lg-12">
							<button type="submit" ng-click="vm.send()"  class="btn-outline1">Envoyer</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- /Contact Section -->

<script type="text/javascript" src="assets/js/jquery.zoomslider.min.js"></script>
