.pre{
    white-space: pre;
}

.user-work-picture{
    height: 250px !important;
    width: auto !important;
}

.profile-img {
    width: 200px;
    max-height: auto;
	position: absolute;
    margin: 10px
}

/*-- resume --*/
.headercompte-top{
	background:#10A7AF;
	padding:20px 0;
}
.headercompte-top ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
	outline:none;
}
.headercompte-top ul li a span {
    margin-right: 7px;
}
.headercompte-top ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}
.headercompte {
    background: #f7f7f7;
    padding: 30px 0;
    border-bottom: 5px solid #E4E4E4;
}
.headercompte-left {
    padding: 0;
    margin-top: 100px;
}
.pro-pic {
    width: 27%;
}

.pro-text h1 {
    font-size: 35px;
    margin: 23px 0 24px;
    color: #1396e2;
    text-transform: uppercase;
}
.pro-text p {
    font-size: 15px;
    color: #fff;
}
.headercompte-right ul li {
    font-size: 14px;
    line-height: 3em;
    list-style-type: none;
    color: #fff;


}
ul.list-left {
    float: left;
    width: 27%;
}
ul.list-right {
    float: left;
    width: 73%;
}
ul.list-left li {
    font-weight: 700;
    color: #1396e2;
}
.headercompte-right ul li a {
    color: #fff;
    text-decoration: none;

}
.headercompte{
    background: url(../../assets/images/pic2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;

}

/*-- //resume --*/
.about {
    padding: 90px 0 0;
    border-bottom: 5px solid #E4E4E4;
}
h3.tittle {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
    color: #1396e2;
}
p.abt-para {
    color: #464646;
    text-align: center;
    width: 75%;
    margin: 0 auto 50px;
}
h3.tittle:after, h3.tittle:before {
    border: 4px double #c2c2c2;
    width: 120px;
    display: inline-block;
    content: "";
    margin: 9px 10px;
}
/*-- //numscroller --*/
.portfolio{
	padding:90px 0;
    border-bottom: 5px solid #E4E4E4;
}

.thumb {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.thumb:before, .thumb:after {
    content: "";
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 6;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    box-shadow: none;
}
.thumb:before {
    top:28px;
    left:28px;
    right: 100%;
    bottom: 100%;
    border-top: 3px solid #10A7AF;
    border-left: 3px solid #10A7AF;
}
.thumb:hover:before {
    opacity: 1;
    bottom: 0;
    right: 0;
}
.thumb:hover img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.thumb img {
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
	width:100%;
}
.thumb .team_pos {
    position: absolute;
    background:rgba(0, 0, 0, 0.41);
    width: 100%;
    bottom: -84px;
    left: 0;
    margin-top: 0px;
    padding: 6px 0;
    text-align: center;
}
.thumb:after {
    left: 100%;
    top: 100%;
    bottom:28px;
    right:28px;
    border-bottom: 3px solid #10A7AF;
    border-right: 3px solid #10A7AF;
}
.thumb:hover:after {
    opacity: 1;
    left: 0;
    top: 0;
}
.thumb:hover .team_pos {
    top: 0;
}
.thumb:hover ul li {
    margin: 77px 0px 0;
}
.team ul li {
    display: inline-block;
    margin: 11px 5px 0;
    width: 14%;
}
.pic {
    overflow: hidden;
    margin: auto;
}
.fb_icon1 {
    background: url(../../assets/images/search.png) no-repeat 2px 1px #000;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.yes_marg{
    margin-bottom: 20px;
}

/*-- contact --*/
.contact {
    background: #272727;
    padding: 90px 0;
}
.headercompte-right {
    margin-top: 120px;
}
/*-- //contact --*/
/*-- responsive media queries --*/

@media (max-width: 1440px){
	.thumb:hover ul li {
		margin: 73px 0px 0;
	}
}
@media (max-width: 1280px){
	.thumb:hover ul li {
		margin: 72px 0px 0;
	}

}
@media (max-width: 1080px){
	.headercompte-right {
		padding: 0;
		width: 38%;
		float:left;
	}
	.headercompte-left {
		float:left;
		width: 61%;
	}
	.pro-pic {
		width: 34%;
	}
	.abt-left {
		padding: 56px 28px 0;
		min-height: 520px;
	}
	.abt-right {
		min-height: 520px;
	}
	.abt-gd-left {
		padding-top: 170px;
	}
    .thumb:hover ul li {
        margin: 49px 0px 0;
    }
}
@media (max-width: 1024px){
	h3.tittle {
		font-size: 34px;
	}
	.about {
		padding: 70px 0 0;
	}
}
@media (max-width: 991px){
	.headercompte-right {
		width: 47%;
	}
	.pro-text {
		padding: 0;
	}
	.pro-pic {
		padding-left: 0;
	}
	.headercompte-left {
		float: left;
		width: 53%;
	}
	.pro-pic {
		width: 44%;
	}
	p.abt-para {
		width: 100%;
	}
	.abt-left ,.abt-right{
		float: left;
		width: 50%;
	}
	.abt-left {
		min-height: 483px;
	}
	.abt-right {
		min-height: 483px;
	}
	h3.tittle:after, h3.tittle:before {
		width: 87px;
	}
	.abt-gd-left {
		padding-top: 152px;
	}
	.yes_marg {
		margin-top: 12px;
	}
	.resp-tab-item {
		margin: 0 12px;
	}
	.resp-tabs-list {
		margin: 1em 0 4em 0;
	}
	.contact-left {
		float: left;
		width: 50%;
		padding-left: 0;
	}
	.contact-right {
		float: left;
		width: 50%;
		padding-right: 0;
	}
	.thumb:hover ul li {
    margin: 33px 0px 0;
}
}
@media (max-width: 800px){
	.pro-text h1 {
		font-size: 29px;
	}
	.abt-left, .abt-right {
		float: left;
		width: 100%;
	}
	.abt-left {
		min-height: 380px;
	}
	.abt-gd-left {
		padding-top: 70px;
	}
	.abt-right {
		min-height: 312px;
	}
	.resp-tab-item {
		padding: 0 17px 17px 17px;
	}
	.thumb:before {
		top: 12px;
		left: 12px;
	}
	.thumb:after {
		bottom: 12px;
		right: 12px;
	}
	.thumb:hover ul li {
		margin: 43px 0px 0;
	}
	.contact-left ,.contact-right{
		float: left;
		width: 100%;
		padding: 0;
	}
	.contact-right{
		margin-top:50px;
	}
	.thumb:hover ul li {
    margin: 30px 0px 0;
}
}
@media (max-width: 768px){
	.thumb:hover ul li {
		margin: 35px 0px 0;
	}
}
@media (max-width: 736px){
	.pro-pic {
		width: 44%;
		float: left;
	}
	.pro-text {
		padding: 0;
		float: left;
		width: 55%;
	}
	.abt-gd-left {
		float: left;
		width: 33%;
	}
}
@media (max-width: 667px){
	.headercompte-left {
		float: left;
		width: 100%;
	}
	.headercompte-left {
		float: left;
		width: 44%;
	}
	.headercompte-right {
		width: 56%;
	}
	.pro-pic {
		width: 50%;
		float: left;
	}
	.pro-text {
		padding: 0;
		float: left;
		width: 47%;
	}
	.pro-pic img {
		padding: 7px;
		position: relative
	}
	.pro-text h1 {
		font-size: 25px;
		margin: 8px 0 16px;
	}
	.thumb:hover ul li {
		margin: 46px 0px 0;
	}
}
@media (max-width: 640px){
	.thumb:hover ul li {
    margin: 40px 0px 0;
}
}
@media (max-width: 600px){
	ul.list-right {
		float: left;
		width: 75%;
	}
	ul.list-left {
		float: left;
		width: 25%;
	}
	.contact-form input#uploadFile {
		width: 77%;
	}
}
@media (max-width: 568px){
	.headercompte-left {
		float: left;
		width: 100%;
	}
	.pro-pic img {
		padding: 12px;
		position: relative
	}
	.pro-pic {
		width: 28%;
		float: left;
	}
	.pro-text h1 {
		margin: 26px 0 16px;
	}
	.headercompte-right {
		width: 77%;
		margin-top: 27px;
	}
	h3.tittle {
		font-size: 28px;
	}
	h3.tittle:after, h3.tittle:before {
		margin: 4px 10px;
	}
	.thumb:hover ul li {
		margin: 36px 0px 0;
	}
	.resp-tabs-list {
    margin: 1em 0 3em 0;
}
}
@media (max-width: 480px){
	.headercompte-top ul li {
		margin-right: 22px;
	}
	.pro-pic img {
		padding: 8px;
		position: relative;
	}
	.abt-left {
		padding: 40px 15px;
	}
	.abt-left {
		min-height: inherit;
	}
	.abt-gd-left {
		padding-top: 0px;
	}
	.abt-gd-left {
		float: left;
		width: 100%;
	}
	.abt-right {
		min-height: inherit;
	}
	.abt-right {
		padding: 40px 0;
	}
	.abt-gd-left h4 {
		margin-top: 18px;
	}
	.abt-gd-left:nth-child(2) {
		margin: 24px 0;
	}
	.about {
		padding: 40px 0 0;
	}
	p.abt-para {
		margin: 0 auto 40px;
	}
	h3.tittle {
		font-size: 24px;
	}
	h3.tittle:after, h3.tittle:before {
		width: 64px;
	}
	.resp-tab-item {
		font-size: 14px;
		padding: 0 10px 8px 10px;
	}
	.resp-tabs-list {
		margin: 0em 0 1em 0;
	}
	.thumb:hover ul li {
		margin: 54px 0px 0;
	}
.thumb:hover ul li {
    margin: 45px 0px 0;
}
}
@media (max-width: 414px){
	.headercompte-right {
		width: 100%;
	}
	.pro-pic {
		width: 33%;
	}
	.accordion-section ul li {
		font-size: 13px;
	}
	.thumb:hover ul li {
		margin: 36px 0px 0;
	}
.headercompte-top ul li {
    margin-right: 14px;
}
h3.tittle:after, h3.tittle:before {
    width: 29px;
}
}
@media (max-width: 384px){
	.headercompte-top ul li a {
		font-size: 13px;
	}
	.headercompte-top ul li {
		margin-right: 10px;
	}
	.pro-text h1 {
		margin: 17px 0 16px;
	}
	.headercompte-right {
		margin-top: 17px;
	}
	a.accordion-section-title span {
		font-size: 13px;
	}
	.abt-left h2 {
		font-size: 23px;
		margin-bottom: 25px;
	}
	a.accordion-section-title span {
		font-size: 13px;
	}
	.accordion i {
		margin: 0px 10px 0 0;
	}

	h3.tittle {
		font-size: 24px;
	}
	.contact-right {
		margin-top: 33px;
	}
	.contact-right iframe {
		height: 182px;
	}
	.thumb:hover ul li {
		margin: 27px 0px 0;
	}
}
@media (max-width: 375px){

}
@media (max-width: 320px){
	.headercompte-top ul li a span {
		margin-right: 4px;
	}
	.headercompte-top ul li {
		line-height: 2.2em;
		margin-right: 71px;
	}
	.headercompte-top {
		padding: 3px 0;
	}
	.pro-text {
		width: 63%;
	}
	.pro-text h1 {
		margin: 9px 0 16px;
	}
	.pro-pic {
		width: 37%;
	}
	.portfolio-modal .close-modal {
		top: 10px;
		right: 11px;
	}
	.portfolio-modal .close-modal .lr .rl, .portfolio-modal .close-modal .lr {
		height: 30px;
	}
	a.accordion-section-title span {
		margin: 0 0px 6px 0;
		text-align: center;
	}
	.accordion-section-title {
		text-align: center;
	}
	.accordion i {
		margin: -14px 10px 0 0;
	}
	.accordion-section-title {
		padding: 12px 0;
	}
	.accordion-section-content {
		text-indent: 0.5em;
	}
	h3.tittle {
		font-size: 22px;
	}
	h3.tittle:after, h3.tittle:before {
	    width: 25px;
		margin: 2px 5px;
	}
	.resp-tab-item {
		margin: 0 3px;
	}
	.fb_icon1 {
		background: url(../images/search.png) no-repeat -2px -2px #000;
		width: 43px;
		height: 43px;
	}
	.thumb:hover ul li {
		margin: 21px 0px 0;
	}
}
