#leftPanel{
    background-color:#0079ac;
    color:#fff;
    text-align: center;
}

#rightPanel{
    min-height:415px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.profile-img {
    width: 150px;
    max-height: 250px;
    margin: 10px
}

.change-password{
    margin-bottom: 10px;
    margin-left: 5px;
}

.change-password>a{
    text-decoration: none;
}

.profile input::-webkit-input-placeholder {
color:#666!important;
}
 
.profile input:-moz-placeholder { /* Firefox 18- */
color:#666!important;  
}
 
.profile input::-moz-placeholder {  /* Firefox 19+ */
color:#666!important;  
}
 
.profile input:-ms-input-placeholder {  
color:#666!important;  
}
.profile textarea::-webkit-input-placeholder {
color:#666!important;
}
 
.profile textarea::-moz-placeholder { /* Firefox 18- */
color:#666!important;  
}
 
.profile textarea::-moz-placeholder {  /* Firefox 19+ */
color:#666!important;  
}
 
.profile textarea::-ms-input-placeholder {  
color:#666!important;  
}
.profile textarea.form-control {
	height:150px!important;
}

.form-control{
    color: #222 !important;
}

.pre{
    white-space: pre;
}

.profile-error{
    padding: 5px;
    text-align: center;
}

.profile-description{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.job-name{
    font-weight: 400
}

.file-thum{
    width: 158px;
    max-height: 250px;
    margin: 5px;
    background-color: transparent;
    border: transparent;
}

.file-delete{
    margin-left: 9px;
    margin-bottom: -10px;
    width: 150px;
    border-radius: 0px;
}