<!DOCTYPE html>
<html ng-app="app">
<head>
<base href="/">
<title>Dz artisan</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

<!-- css files -->
<link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />

<!-- Custom Theme files -->
<link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="assets/css/style213.css" rel="stylesheet" type="text/css" media="all" />
<link href="assets/css/style3.css" rel='stylesheet' type='text/css' />	

<script src="assets/js/jquery21-1.11.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="assets/css/zoomslider.css" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- build:css({.tmp/serve,src}) styles/vendor.css -->
<!-- bower:css -->
<!-- run `gulp inject` to automatically populate bower styles dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:css({.tmp/serve,src}) styles/app.css -->
<!-- inject:css -->
<!-- css files will be automatically insert here -->
<!-- endinject -->
<!-- endbuild -->

<!-- /font files -->
<!-- js files -->
<script src="assets/js/modernizr.custom.js"></script>


<script type="text/javascript" src="assets/js/modernizr-2.6.2.min.js"></script>
<!-- /js files -->
<!--<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places">
    </script>-->
<script src="assets/js/jquery.placepicker.js"></script>

<!--<script>

	$(document).ready(function() {

	// Basic usage
	$(".placepicker").placepicker();

	// Advanced usage
	$("#advanced-placepicker").each(function() {
		var target = this;
		var $collapse = $(this).parents('.form-group').next('.collapse');
		var $map = $collapse.find('.another-map-class');

		var placepicker = $(this).placepicker({
		map: $map.get(0),
		placeChanged: function(place) {
			console.log("place changed: ", place.formatted_address, this.getLocation());
		}
		}).data('placepicker');
	});

	}); // END document.ready

</script>-->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>


</head>
<!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<body ng-controller="AppController" id="myPage"
	  data-spy="scroll" data-target=".navbar" data-offset="60">

<div class="navbar-wrapper">
    <div class="container">
		<nav id="mainNav" class="navbar navbar-inverse navbar-static-top cl-effect-20 navbar-custom navbar-fixed-top  " >
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				
				</div>
				<div id="navbar" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="" ui-sref='home'><span data-hover="Accueil">Accueil</span></a></li>
						<li><a href=""><span data-hover="Services">Services</span></a></li>
						<li><a href=""><span data-hover="A propos">A propos</span></a></li>
						<li><a href=""><span data-hover="Contactez-nous">Contactez-nous</span></a></li>
						<li ng-if="!current_user">
							<a href="" ui-sref='auth'>
								<span data-hover="Se connecter">Se connecter</span>
							</a>
						</li>
						<li ng-if="current_user">
							<a href="" ui-sref='profile'>
								<span data-hover="Votre Profile">{{ current_user.username }}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
        </nav>
    </div>
</div>

<!-- app route-->

<div ui-view></div>

<!-- Contact Section -->
<section class="our-contacts slideanim" id="contact">
	<h3 class="text-center slideanim">Contact Us</h3>
	<p class="text-center slideanim">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form role="form">
					<div class="row">
						<div class="form-group col-lg-4 slideanim">
							<input type="text" class="form-control user-name" placeholder="Your Name" required/>
						</div>
						<div class="form-group col-lg-4 slideanim">
							<input type="email" class="form-control mail" placeholder="Your Email" required/>
						</div>
						<div class="form-group col-lg-4 slideanim">
							<input type="tel" class="form-control pno" placeholder="Your Phone Number" required/>
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-lg-12 slideanim">
							<textarea class="form-control" rows="6" placeholder="Your Message" required/></textarea>
						</div>
						<div class="form-group col-lg-12 slideanim">
							<button type="submit" href="#" class="btn-outline1">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- /Contact Section -->

<!-- Footer Section -->
<section class="footer">
	<h2 class="text-center">THANKS FOR VISITING US</h2>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-md-4 footer-left">
				<h4>Contact Information</h4>
				<div class="contact-info">
					<div class="address">
						<i class="glyphicon glyphicon-globe"></i>
						<p class="p3">77 Jack Street</p>
						<p class="p4">Chicago, USA</p>
					</div>
					<div class="phone">
						<i class="glyphicon glyphicon-phone-alt"></i>
						<p class="p3">+1 515 151515</p>
						<p class="p4">+00 1010101010</p>
					</div>
					<div class="email-info">
						<i class="glyphicon glyphicon-envelope"></i>
						<p class="p3"><a href="mailto:email1@example.com">email1@example.com</a></p>
						<p class="p4"><a href="mailto:email2@example.com">email2@example.com</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 footer-center">
				<h4>Newsletter</h4>
				<p>Register to our newsletter and be updated with the latests information regarding our services, offers and much more.</p>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-4 control-label"></label>
						<div class="col-lg-10">
							<input type="email" class="form-control" id="inputEmail1" placeholder="Email" required>
						</div>
					</div>
					<div class="form-group">
						<label for="text1" class="col-lg-4 control-label"></label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="text1" placeholder="Your Name" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10">
							<button type="submit" class="btn-outline">Sign in</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4 footer-right">
				<h4>Support Us</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
					  when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<ul class="social-icons2">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /Footer Section -->


<!-- Back To Top -->
<a href="#0" class="cd-top">Top</a>
<!-- /Back To Top -->



<!-- js files -->
<script src="assets/js/bootstrap.min.js"></script>	
<script src="assets/js/SmoothScroll.min.js"></script>
<script src="assets/js/darkbox.js"></script>
<script src="assets/js/main.js"></script>
<!-- js for nav-smooth scroll -->
<script>
	$(document).ready(function(){
		$(".navbar a, footer a[href='#myPage']").on('click', function(event) {
		var hash = this.hash;
		$('html, body').animate({
			scrollTop: $(hash).offset().top
		}, 900, function(){
			window.location.hash = hash;
			});
		});
	})
</script>
<!-- /js for nav-smooth scroll -->

<!-- js for slide animations -->
<script>
	$(window).scroll(function() {
		$(".slideanim").each(function(){
			var pos = $(this).offset().top;

			var winTop = $(window).scrollTop();
			if (pos < winTop + 600) {
			$(this).addClass("slide");
			}
		});
	});
</script>

<script src="assets/js/agency.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.zoomslider.min.js"></script>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
