.search-bar  input::-webkit-input-placeholder {
color:#666!important;
}
 
.search-bar input:-moz-placeholder { /* Firefox 18- */
color:#666!important;  
}
 
.search-bar input::-moz-placeholder {  /* Firefox 19+ */
color:#666!important;  
}
 
.search-bar input:-ms-input-placeholder {  
color:#666!important;  
}


.search-job{
    border-radius: 0;
    background: white;
}

.search-pages{
    margin-right: 5px;
}

.search-next-page{
    margin-left: -5px;
}

.visit-profile{
    background-color: #1396e2;
    text-align: center;
    font-size: 20px;
    padding-right: 35px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.visit-profile:hover{
    background-color: rgba( 7, 56, 85, 1);
}

.search-button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-field{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #222 !important;
}

.current-page{
   background: #1396e2 !important;
   color: white !important;
   font-size: 20px !important;
   border-radius: 3px !important
}

.search-section{
    margin-top: 0px;
    margin-bottom: -40px;
}

.search-title{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
}

.article-post{
    margin-bottom: 40px;
}

.blog-pagenat {
  text-align: center;
  margin-top: 2em;
}
.blog-pagenat ul li {
  display: inline-block;
  list-style:none;
}
.blog-pagenat ul li a {
  display: block;
  background: #fff;
  padding: 8px 1.1em;
  font-size: 0.9em;
  text-transform: uppercase;
  color:#073855;
  font-weight: 400;
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  border: 1px solid #073855;
}
.blog-pagenat ul li a:hover {
  background:#1396e2;
}

ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--loginprofil form start here--*/ 


.loginprofil {
    width: 25%;
    margin: 3% auto 0;
}
.headerprofil{
	background:url(../../assets/images/2.jpg) no-repeat;
	background-size:cover;
	min-height:250px;
}
.textprofil {
    text-align: center;
    padding-top: 13%;
}
.textprofil h2{
	margin:15px 0 10px 0;
	font-size:27px;
	color:#fff;
}
.textprofil a{
	color:#fff;
	font-size:18px;
}
.textprofil a:hover{
	text-decoration:none;
	color:#fff;
	transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.f-left a{
	padding: 25px 50px;
    display: inline-block;
	text-decoration: none;
}
.f-left a span {
    background: url(../images/icons-sprit.png) no-repeat;
    width: 32px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}
.f-left a span.f2 {
    background-position: -32px 0px;
}
.f-left a span.f3 {
    background-position: -64px 0px;
}
.f-left {
    background: #ff4c4c;
    text-align: center;
    width: 33.15%;
    float: left;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    border-right: 1px solid rgba(255, 255, 255, 0.49);
}
.iconprofil{
	background: url(../../assets/images/social.png);
	width: 25px;
	height: 25px;
	display: inline-block;
	float:left;
}
.iconprofil {
	background: url(../../assets/images/social.png) no-repeat;
	background-position:-25px 0px;
}
.statprofil{
	background: url(../../assets/images/social.png) no-repeat;
	background-position:0px 0px;
}
ul{
	margin:0;
	padding:0;
}
ul.contentprofil {
    background: #fff;
}
li.button a {
    padding: 22px 27px;
    margin: 0;
    display: block;
    color: #fff;
    background: rgba( 7, 56, 85, 1);;
}
li.dropdown {
	background: #000;
	font-weight: 100;
	font-size: 14px;
}
li.button {
	list-style: none;
	text-align: left;
}
li.menuprofil{
	padding: 0;
	width: 100%;
	border-bottom: 1px solid #146eb4;
	margin: 0;
}
li.menuprofil:hover {
    background: #1396e2;
}
li.button a:hover{
	text-decoration:none;
}
li.button a span{
margin-right: 22px;
}
.dropdown{
	display:none;
	padding: 0;
	width:100%;
}
.dropdown li{
	color: #1396e2;
}
.dropdown li a{
	border-left: 6px solid #1396e2;
	padding: 14px 0 15px 25px;
	display: block;
}
ul.icon-navigationprofil li a span {
	color: #1396e2;
	float: right;
	margin-right: 28px;
	font-size: 14px;
	font-weight: 100;
}
ul.icon-navigationprofil li a:hover {
	border-left: 6px solid#073855;
}
li.menuprofil.info {
	border-bottom: none;
}
li.button i {
    background: #6d6e70;
    float: right;
    padding: 4px 12px;
    font-size: 13px;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    font-style: normal;
    color: #fff;
}
ul.icon-navigationprofil{
	position: relative;
}
ul.icon-navigationprofil li:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 310px;
	top: 0%;
	border-width: 11px 12px 0px 12px;
}
ul.icon-navigationprofil li a {
	color: #FFF;
}
#main{
	text-align:center;
	position:relative;
}
.f-right{
	border-right:none;
}
.footer {
    margin-top: 7%;
    text-align: center;
}
.footer p{
	font-size:16px;
	color:#146eb4;
}
.footer p a{
	color:#146eb4;
}
.footer p a:hover{
	color:#ff4c4c;
}
/*--meadia-quiries-start-here--*/
@media(max-width:1440px){
.loginprofil {
    width: 24%;
}
.f-left a {
    padding: 25px 40px;
}
.f-left {
    width: 33.1%;
}
ul.icon-navigationprofil li:before {
    right: 280px;
}
}
@media(max-width:1366px){
.footer {
    margin-top: 8%;
}
.head {
    padding: 6em 0px 3em 0px;
}
ul.icon-navigationprofil li:before {
    right: 260px;
}
body {
    min-height: 1080px;
}
}
@media(max-width:1280px){
.loginprofil {
    width: 32%;
}
ul.icon-navigationprofil li:before {
    right: 340px;
}
.headerprofil {
    min-height: 235px;
}
.head {
    padding: 6.5em 0px 3em 0px;
}
.footer {
    margin-top: 10%;
}
body {
    min-height: 1110px;
}
}
@media(max-width:1024px){
.head-text h1 {
    font-size: 29px;
}
ul.icon-navigationprofil li:before {
    right: 320px;
}
.loginprofil {
    width: 37%;
    margin: 4% auto 0;
}
.footer {
    margin-top: 6%;
}
body {
    min-height: 1060px;
}
}
@media(max-width:768px){
.head-textprofil h1 {
    font-size: 27px;
}
.loginprofil {
    width: 50%;
}
.textprofil h2 {
    font-size: 25px;
}
.text a {
    font-size: 17px;
}
.headerprofil {
    min-height: 215px;
}
li.button a {
    padding: 20px 27px;
}
.dropdown li a {
    padding: 11px 0 15px 25px;
}
.head {
    padding: 5em 0px 3em 0px;
}
.footer {
    margin-top: 3%;
}
body {
    min-height: 915px;
}
}
@media(max-width:640px){
.head-textprofil h1 {
    font-size: 25px;
}
.loginprofil {
    width: 60%;
}
.f-left a {
    padding: 17px 28px;
}
.f-left {
    width: 33.08%;
}
.textprofil h2 {
    font-size: 23px;
}
body {
    min-height: 880px;
}
.footer p {
    font-size: 15px;
}
.footer {
    margin-top: 4%;
}
.head {
    padding: 5em 0px 1em 0px;
}
}
@media(max-width:480px){
.footer {
    margin-top: 6%;
}
body {
    min-height: 800px;
}
li.button i {
    padding: 3px 10px;
    font-size: 12px;
}
.f-left a span {
    width: 28px;
    height: 18px;
    background-size: 300%;
}
.f-left a span.f2 {
    background-position: -28px 0px;
}
.f-left a span.f3 {
    background-position: -56px 0px;
}
li.button a {
    padding: 16px 27px;
}
.textprofil img {
    width: 50%;
}
.textprofil h2 {
    font-size: 20px;
}
.textprofil a {
    font-size: 16px;
}
.headerprofil {
    min-height: 70px;
}
ul.icon-navigationprofil li:before {
    right: 223px;
}
.footer p {
    font-size: 14px;
}
.loginprofil {
    width: 58%;
}
.head-textprofil h1 {
    font-size: 22px;
}
}
@media(max-width:414px){
.f-left {
    width: 33.04%;
}
}
@media(max-width:384px){
.f-left a {
    padding: 17px 18px;
}
.f-left {
    width: 33%;
}
}
@media(max-width:320px){
.head-textprofil h1 {
    font-size: 19px;
}
.loginprofil {
    width: 78%;
}
.footer p {
    line-height: 1.6em;
}
.footer {
    margin-top: 2%;
}
.textprofil h2 {
    font-size: 17px;
    margin: 15px 0 7px 0;
}
.head {
    padding: 2.5em 0px 2em 0px;
}
.f-left a span {
    width: 25px;
    height: 16px;
}
.textprofil a {
    font-size: 14px;
}
.headerprofil {
    min-height: 40px;
}
.f-left a span.f2 {
    background-position: -25px 0px;
}
.f-left a span.f3 {
    background-position: -50px 0px;
}
.f-left a {
    padding: 13px 22px;
}
.f-left {
    width: 33.04%;
}
ul.icon-navigationprofil li:before {
    right: 186px;
}
body {
    min-height: 730px;
}
}
/*--meadia-quiries-end-here--*/