<link href="app/search/search.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="assets/js/scriptprofil.js"></script>


<div  d="demo-1" class="carouselogin " data-zs-src='["assets/images/2.jpg"]' data-zs-overlay="dots"></div>


<section class="search-section">
    <div class="headerservices-middle">
            <div class="headerservices-search">
            <form>
                <div class="search" >
                    <input type="search" value="Search" name="search">
                </div>
                <div class="section_roomservice">
                    <select class="frm-field required search-job">
                        <option value="null">All Tests</option>
                        <option value="null">Blood Test</option>     
                        <option value="AX">Urine Test </option>
                        <option value="AX">Blood Volume Test</option>
                        <option value="AX">Normal Test</option>
                        <option value="AX">Body Scanning</option>
                    </select>
                </div>
                <div class="sear-sub">
                    <input type="submit" value=" ">
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    
	<h3 class="text-center search-title">Artisan a votre disposition</h3>
	<div ng-repeat="user in vm.users track by $index" class="col-md-4 article-post">		
        <div class="headerprofil">
            <div class="textprofil">
                <img src="assets/images/men1.jpg" alt="" />
                <h2>{{ user.full_name || user.username }}</h2>
                <a href="mailto:{{ user.email }}"><p>@{{ user.username }}</p></a>
            </div>
        </div>
    
        <ul class="contentprofil">
            <li class="menuprofil">
                    <ul>
                    <li class="button"><a href="#">Métiers<span class="iconprofil statprofil"> </span></a></li>          	
                    <li class="dropdown">
                        <ul class="icon-navigationprofil" ng-repeat="job in user.jobs">
                            <li><a >{{ job.name }}</a></li>
                        </ul>
                    </li>
                </ul>      
            </li>     
            <li class="menuprofil">
                <ul>
                    <li class="button"><a href="#">Contact<span class="iconprofil"> </span></a></li>
                    <li class="dropdown">
                        <ul class="icon-navigationprofil">
                            <li><a >Téléphone: {{ user.phone_number }}</a></li>
                            <li><a >Addresse: {{ user.adress }}</a></li>
                            <li><a href="" ui-sref="/profile/{{ user.username }}">Visité profil</a></li>
                            
                        </ul>
                    </li>
                </ul>   		  
            </li>
        </ul>
    </div>
		 
							
			 <!--start-blog-pagenate-->
    <div class="clearfix"> </div>	
    <div class="blog-pagenat">
        <ul>
            <li><a class="frist" href="#">Prev</a></li>
            <li ng-repeat="user in vm.users track by $index"><a href="#">{{ $index + 1}}</a></li>
            <li><a class="last" href="#">Next</a></li>

        </ul>
    </div>
</section>


<script type="text/javascript" src="assets/js/jquery.zoomslider.min.js"></script>